@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400&display=swap');

/*
font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.navbar {
    background-color: white;
    text-align: center;
}

.navbar .container {
    justify-content: center;
}

.navbar-light .navbar-brand {
    font-family: 'Crimson Pro', serif;
    font-size: 2.2em;
    color: rgb(170,98,49);
    padding: 1em 2em;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: #5C2C0C;
}