@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
/* 
font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

a{
    text-decoration: none !important;
    color: #AA6231;
}

a:hover{
    color: #AA6231;
    opacity: 0.5 !important;
}

/* No text decoration and no left indentation*/
ul {
    list-style: none;
    padding-left: 0;
}


.goals li {
  margin-bottom: 5px;
  display: inline-flex; /* align text and checkbox*/
  width: 12.5rem;
}


input[type=checkbox]:checked + label {
    color: #c7c7c7;
    font-style: italic;
    text-decoration: line-through;
}

input[type=checkbox]{
    box-sizing: border-box;
    margin-right: 15px;
    margin-top: 5px; /* align text and checkbox*/
}

label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 9rem;
}

.delete-goal{
    color: #DDA35D;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-top: 0px;
    margin-right: 7px;
}

.delete-goal-card{
    color: #828282;
    float: right;
}

.btn-goal:focus,.btn-goal:active {
   outline: none !important;
   box-shadow: none;
}

.btn-goal:hover {
    color: #c7c7c7;
}


#profileName {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
}

#role {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

#location {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-transform: lowercase;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

#orangeName {
  color: #AA6231;
}

.pic-container-hub{
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: 3%;
}

.profile-pic{
  position: absolute;
  object-fit: cover;
  width: 100%; 
  height: 100%;
}


.subpage-title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    color: #AA6231;
}

.subpage-title-under {
  margin-top: 2%;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.05em;
    margin-top: 1%;
}

.subtitle-poppins{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}


.side-menu-header {
    display: block;
    padding:10px;
    background-color:#EFE1CE;
}

/*Syle show more button*/
.side-choice{
    padding: 0px;
    padding-top: 3px;
}

.filter-choice{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
}



#submit-style{
  background-color: #EFE1CE;
  border: none;
  color: black;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  text-align: right;
}

.no-border {
  border: none;
}

.deck-middle{
  margin-left: 10%;
  margin-right: 10%;
}

.badge {
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 2% 5%;
}

.badge-text{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
}

.orange-light {
  color: #DDA35D;
}

.orange-dark {
  color: #5C2C0C;
}

.menu-choice{
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  color: #AA6231;
}

.borderOrange {
  border: 1px solid #AA6231;
}

.goal-card{
  border: 3px solid #DDA35D;
  width: 15rem;
}

.greyText {
  color: #c7c7c7; 
}

.no-padding{
  padding: 0px;
}

.whiteBackground{
  background-color: white;
}

.centerText {
  text-align: center;
}

.orangeBox {
  height: 200px;
  width: 250px;
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.margin-auto{
  margin: auto;
  padding: 20px;
}

.greyButton {
  background: #c7c7c7;
}

.floatRight {
  float: right;
}

.no-bullet {
  list-style-type: none;
  padding: 0px;
  padding-left: 10px;
}


.meeting-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AA6231;
  padding-left: 10px;
}

.left-pad-10{
  padding-left: 10px;
}

.no-margin-bottom{
  margin-bottom: 0px;
}

.no-content {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  color: #000000;
  text-align: center;
}

.meeting-form input {
  outline: 0;
  border-width: 0 0 2px !important;
  border-color: #ced4da;
}

input:focus, textarea:focus {
  border-color: #AA6231 !important;
}

.meeting-form textarea {
  outline: 0;
  border-width: 0 0 2px !important;
  border-color: #ced4da;
}

.goals {
    font-family: Roboto;
    font-size: 17px;
    line-height: 21px;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #AA6231;
}

.card-name-title{
  margin: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #000000;

}
