.menu {
    list-style-type: none;
    padding-left: 0px;
}

.menuli {
    padding: 1rem 0rem !important;
}

.dim-back {
    box-shadow: 0 0 0 9000px rgba(0,0,0,0.1);
    overflow: auto;
    z-index: 9999;
}

#post {
    position:relative;
}

.btn-primary,
.btn-primary:disabled,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #EFE1CE;
    border: none;
    padding: 0rem 3.5rem;
    margin-right:0.2 em;
    color: black;
}

textarea, 
textarea.form-control{
    outline: 0;
    border-width: 0 0 1px !important;
    border-color: rgba(0,0,0,0);
}

textarea:focus, 
textarea.form-control:focus,
.form-control:focus {
    border-color: #AA6231 !important;
    box-shadow: 0 0 0 0 !important;
}

.dimmed {
    opacity:0.5;
}

.navbar .sticky-top .navbar-expand-xl .navbar-light .dimmed{
    opacity: 0.5;
}

footer .dimmed {
    opacity: 0.5;
}


a: hover {
    color: #EFE1CE;
}

#commentsTemp {
    outline: 0;
    border-width: 0 0 1px !important;
    border-color: black !important;
}