@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400&display=swap');

/* 
font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


.line {
  width: 0px;
  height: 95px;
  margin: auto;
  background: #000000;
  border: 2px solid #AA6231;
}

.card {
  border: none;
}

.border {
  border: 5px solid #000000;
  padding: 30px;
}

.borderOrange {
  border: 1px solid #AA6231;
  padding: 30px;
}

.padBig {
  padding: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
    border: none;
}
 
.hidden {
  display: none;
}

.deleteGoal {
  padding-left: 10px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  border-radius: 50%;
  width: 20px;
  background-color: white;
  border: 1px solid #AA6231;
  margin-top: 1px;
}

/* On mouse-over, add a orange background color */
.container:hover input ~ .checkmark {
  background-color: #EFE1CE;
}

/* When the checkbox is checked, add a orange background */
.container input:checked ~ .checkmark {
  background-color: #AA6231;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tagList {
  display: inline-block;
  border: 2px solid #AA6231;
  box-sizing: border-box;
  border-radius: 15px;
  /* height: 35px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #5C2C0C;
}