@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@300;400&display=swap');

/* 
font-family: 'Crimson Pro', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


html, body {
  background-color: #EFE1CE;
  margin: 0px;
  height: 100%;
  width: 100%;
}

#page-container {
  min-height: 100%;
  position: relative;
}


.center-cropped {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 120px;
  width: 120px;
}

.page {
  max-width: 1400px;
  padding: 2rem 1rem;
  margin: auto;
  padding-bottom: 150px;
}

.cont {
  background-color: white;
  margin-bottom: 40px;
  padding: 30px;
}

.row {
  padding-top: 10px;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 165px;
}

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 120px;
  width: 120px;
}

.center-cropped-small {
  object-fit: cover;
  object-position: center;
  height: 50px;
  width: 50px;
}

.orangeTextLight {
  color: #AA6231;
}

.orangeTextDark {
  color: #5C2C0C;
}

.blackText {
  color: black;
}

.whiteText {
  color: white;
}

.greyText {
  color: #696969;
}

.pic-container {
  position: relative;
  width: 40%;
  padding-bottom: 40%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  margin-top: 5%;
}

.profile-pic {
  position: absolute;
  object-fit: cover;
  width: 100%; 
  height: 100%;
}

.padNormal {
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.spaceLetters {
  letter-spacing: 0.05em;
}

.padName {
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
}

.poppins {
  font-family: Poppins;
}

.roboto {
  font-family: Roboto;
}

.crimson {
  font-family: 'Crimson Pro', serif;
}

.font10 {
  font-size: 10px;
}

.font12 {
  font-size: 12px;
}

.font17 {
  font-size: 17px;
}

.font15 {
  font-size: 15px;
}

.font20 {
  font-size: 20px;
}

.font25 {
  font-size: 25px;
}

.font30 {
  font-size: 30px;
}

.font40 {
  font-size: 40px;
}

.centerText{
  text-align: center;
}

.weight600 {
  font-weight: 600;
}

.weight500 {
  font-weight: 500;
}

.weight300 {
  font-weight: 300;
}

.weight200 {
  font-weight: 200;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.line37 {
  line-height: 37px;
}

.line23 {
  line-height: 23px;
}

.line21 {
  line-height: 21px;
}

.line15 {
  line-height: 15px;
}

.line45 {
  line-height: 45px;
}

.line19 {
  line-height: 19px;
}

.orangeButton {
  background: #DDA35D;
}